# Common
TabWidth: 4
IndentWidth: 4
UseCRLF: false
UseTab: Never
ColumnLimit: 140

---
# C++ 17
Language: Cpp
Standard: c++17
BasedOnStyle: WebKit
DisableFormat: false
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: false
AlignEscapedNewlines: DontAlign
AlignOperands:   AlignAfterOperator # TODO: set false
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
#AllowAllConstructorInitializersOnNextLine: true # deprecated
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
#AlwaysBreakAfterDefinitionReturnType: None # deprecated
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
AttributeMacros:
  - __capability
BinPackArguments: true
BinPackParameters: false
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel:  false
    AfterClass:      true
    AfterControlStatement: Never
    AfterEnum:       true
    AfterFunction:   true
    AfterNamespace:  false
    AfterObjCDeclaration: false
    AfterStruct:     true
    AfterUnion:      true
    AfterExternBlock: true
    BeforeCatch:     false
    BeforeElse:      false
    BeforeLambdaBody: false
    BeforeWhile:     false
    IndentBraces:    false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
#BreakBeforeInheritanceComma: false
#BreakConstructorInitializersBeforeComma: false
#BreakAfterJavaFieldAnnotations: false
#TODO: check
CommentPragmas: '^ IWYU pragma:|^ TODO:|^ TODO|^ NOTE:' # TODO
CompactNamespaces: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: false # deprecated
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
DeriveLineEnding: false
DerivePointerAlignment: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
#ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
    - foreach
    - Q_FOREACH
    - BOOST_FOREACH
    - RANGES_FOR
    - FOREACH
IfMacros:
    - KJ_IF_MAYBE
    - IF
IncludeBlocks:   Preserve
IncludeCategories: #TODO
    - Regex: '^<[a-z_]+>'
      Priority: 1
    - Regex: '^<[a-z_]+.h>'
      Priority: 2
    - Regex: '^["<](common|ext|mysqlxx|daemon|zkutil)/'
      Priority: 90
    - Regex: '^"'
      Priority: 110
    - Regex: '/'
      Priority: 30
    - Regex: '.*'
      Priority: 40
IncludeIsMainRegex: '(Test)?$'
IncludeIsMainSourceRegex: ''
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false
IndentExternBlock: AfterExternBlock
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentRequires:  true
IndentWrappedFunctionNames: true
#InsertBraces: true #TODO: check
InsertTrailingCommas: None
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: Signature
MacroBlockBegin: "^BOOST_SCOPE_EXIT$"
MacroBlockEnd: "^BOOST_SCOPE_EXIT_END$"
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
#NamespaceMacros: 
ObjCBinPackProtocolList: Auto
ObjCBlockIndentWidth: 4
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PPIndentWidth:   -1
#PackConstructorInitializers: Never
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PenaltyIndentedWhitespace: 0
PointerAlignment: Left
#QualifierAlignment: Left #TODO
#QualifierOrder: #TODO
#RawStringFormats:
ReferenceAlignment: Pointer
ReflowComments:  false
#RemoveBracesLLVM: false
#RequiresClausePosition: #TODO
#SeparateDefinitionBlocks: #TODO
ShortNamespaceLines: 10
SortIncludes:    CaseSensitive
SortJavaStaticImport: Before
SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles:  Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
    Minimum:         1
    Maximum:         -1
SpacesInParentheses: false
SpacesInSquareBrackets: false
StatementAttributeLikeMacros:
    - Q_EMIT
StatementMacros: #TODO
    - Q_UNUSED
    - QT_REQUIRE_VERSION
    - BOOST_SCOPE_EXIT
    - BOOST_SCOPE_EXIT_END
WhitespaceSensitiveMacros:
    - STRINGIZE
    - PP_STRINGIZE
    - BOOST_PP_STRINGIZE
    - NS_SWIFT_NAME
    - CF_SWIFT_NAME

---
